<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>old growth city</title>
    <link href="{{ get_url(path="normalize.css", cachebust=true) | safe }}" rel="stylesheet">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link href="{{ get_url(path="site.css", cachebust=true) | safe }}" rel="stylesheet">
  </head>
  <body>
    <main>
      <nav>
          <h1>old growth city</h1>
      </nav>
      <div class="column scroll">
        <h4>gay</h4>
        <h4>queer</h4>
        <h4>brand sites</h4>
        <h4>mobile and web apps</h4>
        <h4>open source and open data</h4>
        <h4>discounts based on alignment</h4>
        <h4>beautiful software that values you</h4>
        <h4>queer</h4>
        <h4>trans</h4>
        </div>
    </main>
  </body>
</html>
